:host {
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translateY(-25%);
  }

  .modal.fade.show .modal-dialog {
    transform: translateY(0);
  }
  
  /* Ajustes para pantallas móviles */
  @media (max-width: 576px) {
    .modal-dialog {
      margin: 0.5rem;
    }
    .modal-content {
      border-radius: 0.5rem;
    }
    .modal-body {
      font-size: 1rem;
      line-height: 1.5;
    }
    .modal-header h5 {
      font-size: 1.25rem;
    }
  }
}
