.container-fluid {
  margin: 125px auto 0 auto;
  padding: 0 15px;
}

.card {
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
  background-color: #f7f9fc; /* Fondo claro */

  &-header {
    background: linear-gradient(90deg, #007bff, #00aaff);
    color: #fff;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 4px solid #00aaff; /* Azul más suave */
    display: flex;
    justify-content: space-between;
  }

  &-body {
    padding: 0;
    max-height: 0; /* Inicialmente cerrado */
    overflow: hidden; /* Para evitar desbordes cuando esté cerrado */
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Transición suave */
    background-color: #ffffff; /* Fondo claro para mayor legibilidad */
  }

  &-body.open {
    padding: 20px;
    max-height: 1000px; /* Una altura máxima grande para asegurar que se expanda completamente */
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Transición suave al abrir */
  }
}

.dia-header {
  background-color: #3399ff; /* Azul más suave */
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.no-turnos {
  color: #6c757d; /* Gris más claro */
  font-style: italic;
  font-size: 0.9rem;
}

.list-group-item {
  background-color: #f7f9fc; /* Fondo claro */
  font-size: 1rem;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  color: #007bff; /* Azul consistente */
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Sombra ligera */
  
  &:hover {
    background-color: #e0f2ff; /* Fondo claro al hacer hover */
  }
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #0056b3;
  }
}

.btn-outline-light {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.7);
  }
}

.animated-card {
  animation: slideInUp 0.5s ease-out;
}

.animated-turnos {
  animation: fadeIn 0.5s ease-in-out; /* Animación de fade-in */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
