<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="grupoForm" (ngSubmit)="crearGrupo()" method="post" class="my-5 p-4">
        <div class="d-flex justify-content-between align-items-start mb-4">
          <h2 class="text-center mb-4 fw-bold">Crear Grupo</h2>
          <button type="button" class="btn btn-secondary btn-sm" (click)="volver()">Volver</button>
        </div>
        <div class="row">
          <div class="form-group col-md-12 mb-3 form-floating">
            <input type="text" formControlName="nombre" id="nombre" class="form-control form-control-little" placeholder="Nombre del grupo">
            <label for="nombre">Nombre del grupo</label>
            <div *ngIf="grupoForm.get('nombre')?.errors && grupoForm.get('nombre')?.touched" class="text-danger">
              <small *ngIf="grupoForm.get('nombre')?.errors?.['required']">Nombre del grupo es obligatorio.</small>
              <small *ngIf="grupoForm.get('nombre')?.errors?.['maxlength']" class="text-danger">Nombre del grupo no puede superar los 50 caracteres.</small>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-3" [disabled]="grupoForm.invalid">Crear Grupo</button>
        </div>
      </form>
    </div>
  </div>
</div>
