header.header-anonimo,
header.header-user {
  padding: 0;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  z-index: 99;

  nav {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .navbar-toggler {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      margin: 5px 5px 10px;
      margin: 10px auto;
    }

    .navbar-izq {
      display: flex;

      .list-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    img {
      width: 180px;
    }

    .nav-item {
      cursor: pointer;

      .nav-link {
        &.active {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(0, 0, 0);
      transition: .4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
      }
    }

    input:checked+.slider {
      background-color: #2196F3;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
      transform: translateX(26px);
    }
  }

  @media (max-width: 991px) {
    .navbar-izq {
      flex-direction: column;
      justify-content: center;

      img {
        width: 180px !important;
      }

      .list-links {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media (max-width: 1350px) {
    .navbar-izq {
      font-size: 14px;
      text-wrap: nowrap;

      img {
        width: 140px;
      }

      .mx-5 {
        margin: 0 !important;
        margin-right: 15px !important;
      }
      .me-3 {
        margin: 0 !important;
      }
    }

    .navbar-der {
      .me-4 {
        margin-right: 14px !important;
      }
    }
  }
}

header.header-admin-manager {
  padding: 0;
  z-index: 99;

  nav {
    .navbar-toggler {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      margin: 5px 5px 10px;
      margin: 10px auto;
    }

    .navbar-izq {
      display: flex;

      img {
        width: 180px;
      }

      .list-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
    .nav-item {
      cursor: pointer;

      .nav-link {
        &.active {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(0, 0, 0);
      transition: .4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
      }
    }

    input:checked+.slider {
      background-color: #2196F3;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
      transform: translateX(26px);
    }
  }
  @media (max-width: 992px) {
    .navbar-izq {
      flex-direction: column;
      justify-content: center;

      .list-links {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media (max-width: 1350px) {
    .navbar-izq {
      font-size: 14px;
      text-wrap: nowrap;
      .mx-5 {
        margin: 0 !important;
        margin-right: 15px !important;
      }
      .me-3 {
        margin: 0 !important;
      }
    }

    .navbar-der {
      .me-4 {
        margin-right: 14px !important;
      }
    }
  }
}
