<header>
  <nav class="navbar navbar-expand-lg navbar-light p-0">
    <div class="container-fluid p-3">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse justify-content-around" id="navbarNav">
        <div class="navbar-izq">
          <ul class="navbar-nav d-flex flex-row align-items-center justify-content-start">
            <li class="nav-item me-3">
              <a class="navbar-brand mb-0" (click)="irARuta('/inicio')">
                <img src="assets/media/LogoTaemoi.svg" alt="Logo de la aplicación TaeMoi">
              </a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/inicio']" routerLinkActive="active"
                (click)="irARuta('/inicio')">Inicio</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/el-taekwondo']" routerLinkActive="active"
                (click)="irARuta('/inicio')">El taekwondo</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/logros']" routerLinkActive="active"
                (click)="irARuta('/logros')">Logros</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/horarios']" routerLinkActive="active"
                (click)="irARuta('/inicio')">Horarios</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/contacto']" routerLinkActive="active"
                (click)="irARuta('/contacto')">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="navbar-der">
          <ul class="navbar-nav d-flex flex-row align-items-center justify-content-end" *ngIf="!usuarioLogueado">
            <li class="nav-item me-3">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link p-0 text-black" href="www.facebook.com/moiskimdo.escueladetaekwondo/"><i
                  class="bi bi-facebook fs-4"></i></a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link p-0 text-black" href="www.instagram.com/moiskimdo_/"><i
                  class="bi bi-instagram fs-4"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0 text-black" (click)="irARuta('/login')"><i class="bi bi-person-fill fs-3"></i></a>
            </li>
          </ul>
          <ul class="navbar-nav d-flex flex-row align-items-center justify-content-end" *ngIf="usuarioLogueado">
            <li class="nav-item me-3">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link p-0 text-black" href="www.facebook.com/moiskimdo.escueladetaekwondo/"><i
                  class="bi bi-facebook fs-4"></i></a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link p-0 text-black" href="www.instagram.com/moiskimdo_/"><i
                  class="bi bi-instagram fs-4"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0 text-black" (click)="cerrarSesion()"><i class="bi bi-person-circle fs-3"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
