<header class="header-anonimo fixed-header" [ngClass]="{'is-hidden': isHidden}" *ngIf="!usuarioLogueado">
  <nav class="navbar navbar-expand-lg bg-white p-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-black"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
        <div class="navbar-izq">
          <a class="mb-0 mx-5 text-center" [routerLink]="['/inicio']">
            <img class="py-2" src="../../../../assets/media/LogoTaemoi.svg" alt="Logo de la aplicación TaeMoi">
          </a>
          <ul class="navbar-nav list-links">
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item dropdown me-3" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: false }">
              <div class="nav-link dropdown-toggle text-black fw-bold" id="deportesDropdown">
                ¿Qué hacemos?
              </div>
              <ul class="dropdown-menu" aria-labelledby="deportesDropdown">
                <li>
                  <a class="dropdown-item" [routerLink]="['/eltaekwondo']" routerLinkActive="active-link">
                    Taekwondo
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/kickboxing']" routerLinkActive="active-link">
                    Kickboxing
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/pilates']" routerLinkActive="active-link">
                    Pilates
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/eventos']" routerLinkActive="active">Eventos</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/horarios']" routerLinkActive="active">Horarios</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="navbar-der d-flex align-items-center justify-content-center">
          <ul class="navbar-nav d-flex flex-row align-items-center justify-content-end">
            <li class="nav-item me-4">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link p-0 text-black" href="https://www.facebook.com/moiskimdo.escueladetaekwondo/"
                target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook fs-4"></i></a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link p-0 text-black" href="https://www.instagram.com/moiskimdo_/" target="_blank"
                rel="noopener noreferrer"><i class="bi bi-instagram fs-4"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0 text-black" [routerLink]="['/login']"><i class="bi bi-person-fill fs-3"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- Header para administradores -->
<header class="admin" *ngIf="isAdmin">
  <button class="admin-button" (click)="toggleAdminMenu()">
    <i class="bi bi-list"></i>
  </button>
  <div class="admin-menu" [ngClass]="{ 'show': adminMenuVisible }">
    <a class="nav-link text-black fw-bold" [routerLink]="['/inicio']">Inicio</a>

    <!-- Menú desplegable Deportes -->
    <div class="nav-item dropdown">
      <div class="nav-link dropdown-toggle text-black fw-bold">
        ¿Qué hacemos?
      </div>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/eltaekwondo']" routerLinkActive="active-link">
          Taekwondo
        </a>
        <a class="dropdown-item" [routerLink]="['/kickboxing']" routerLinkActive="active-link">
          Kickboxing
        </a>
        <a class="dropdown-item" [routerLink]="['/pilates']" routerLinkActive="active-link">
          Pilates
        </a>
      </div>
    </div>

    <a class="nav-link text-black fw-bold" [routerLink]="['/eventos']" routerLinkActive="active">
      Eventos
    </a>
    <a class="nav-link text-black fw-bold" [routerLink]="['/horarios']" routerLinkActive="active">
      Horarios
    </a>
    <a class="nav-link text-black fw-bold" [routerLink]="['/contacto']" routerLinkActive="active">
      Contacto
    </a>
    <a class="nav-link text-black fw-bold" (click)="cerrarSesion()">Cerrar Sesión</a>
  </div>
</header>
<header class="header-user fixed-header" [ngClass]="{'is-hidden': isHidden}" *ngIf="usuarioLogueado && isUser">
  <nav class="navbar navbar-expand-lg bg-white p-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-black"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
        <div class="navbar-izq">
          <a class="mb-0 mx-5 text-center" [routerLink]="['/inicio']">
            <img class="py-2" src="../../../../assets/media/LogoTaemoi.svg" alt="Logo de la aplicación TaeMoi">
          </a>
          <ul class="navbar-nav list-links">
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/inicio']" routerLinkActive="active"
                [routerLink]="['/inicio']">Inicio</a>
            </li>
            <li class="nav-item dropdown me-3" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: false }">
              <div class="nav-link dropdown-toggle text-black fw-bold" id="deportesDropdown">
                ¿Qué hacemos?
              </div>
              <ul class="dropdown-menu" aria-labelledby="deportesDropdown">
                <li>
                  <a class="dropdown-item" [routerLink]="['/eltaekwondo']" routerLinkActive="active-link"
                    [routerLink]="['/eltaekwondo']">
                    Taekwondo
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/kickboxing']" routerLinkActive="active-link"
                    [routerLink]="['/kickboxing']">
                    Kickboxing
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/pilates']" routerLinkActive="active-link"
                    [routerLink]="['/pilates']">
                    Pilates
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/eventos']" routerLinkActive="active"
                [routerLink]="['/eventos']">Eventos</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/horarios']" routerLinkActive="active"
                [routerLink]="['/horarios']">Horarios</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-black fw-bold" [routerLink]="['/contacto']" routerLinkActive="active"
                [routerLink]="['/contacto']">Contacto</a>
            </li>
            <li class="nav-item mx-3">
              <button type="button" class="btn btn-primary text-white fw-bold" [routerLink]="['/userpage']"
                routerLinkActive="active" [routerLink]="['/userpage']">Ver mis clases</button>
            </li>
          </ul>
        </div>
        <div class="navbar-der d-flex align-items-center justify-content-center">
          <ul class="navbar-nav d-flex flex-row align-items-center justify-content-end">
            <li class="nav-item me-4">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link p-0 text-black" href="https://www.facebook.com/moiskimdo.escueladetaekwondo/"
                target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook fs-4"></i></a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link p-0 text-black" href="https://www.instagram.com/moiskimdo_/" target="_blank"
                rel="noopener noreferrer"><i class="bi bi-instagram fs-4"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0 text-black" (click)="cerrarSesion()"><i class="bi bi-person-circle fs-3"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>