$primary-color: #007bff;
$border-radius: 10px;
$input-padding: 15px;
$label-font-size: 1rem;

.container {
  margin: auto;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;

  &:hover {
    background-color: darken(#dc3545, 10%);
    border-color: darken(#dc3545, 10%);
  }
}

img {
  border-radius: 5px;
  margin-top: 10px;
}

.custom-file-input-container {
  position: relative;
  display: inline-block;
  width: auto; // Cambiar de 100% a auto para que no ocupe todo el ancho del contenedor

  .custom-file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  .custom-file-label {
    display: inline-block;
    background-color: #8c8f92;
    color: white;
    padding: 10px 20px;
    border-radius: $border-radius;
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    cursor: pointer;
  }

  &:hover .custom-file-label{
    background-color: darken(#8c8f92, 10%);
    transition: background-color 0.3s ease;
  }
}

.btn-image {
  width: 100%; // Ancho total del contenedor
  max-width: 200px; // Limitar el ancho máximo del botón
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem !important;

  label {
    font-size: $label-font-size;
    font-weight: 500;
    color: #8c8f92;
    margin-left: 15px;
    transition: all 0.2s ease;
  }

  .form-control,
  .form-select {
    border-radius: $border-radius;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease;
    width: 100%;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      top: -5px;
      left: 0px;
      font-size: 0.85rem !important;
      color: $primary-color;
      background-color: #fff;
      height: 30px;
      padding: 0 5px;
      transition: all 0.2s ease;
    }
  }

  .form-floating {
    position: relative;

    label {
      position: absolute;
      top: 0;
      left: 15px;
      padding: 0 5px;
      font-size: $label-font-size;
      transition: all 0.2s ease;
    }
  }
}

button[type="submit"] {
  border-radius: $border-radius;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}