.mapaContainer {
  position: absolute;
  top: 25%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 30%;
  height: 50%;
  border-radius: 13px;
  backdrop-filter: blur(4px);

  #map {
    height: 80%;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
}
