<div class="main-content row pt-5">
  <section class="p-0 mb-5 first-banner-section">
    <div class="first-banner d-flex justify-content-center align-items-center">
      <p class="text-white p-5 display-1 text-center">MUCHO MÁS QUE UN DEPORTE</p>
    </div>
  </section>
  <section class="p-0 info-divs-section">
    <div class="mt-5 d-flex flex-column flex-md-row align-items-center">
      <div class="text-content d-flex flex-column justify-content-center mx-5 my-md-5 my-0">
        <h1 class="h3 text-md-start text-center fw-bold">¿PORQUÉ ESTE DEPORTE?</h1>
        <hr class="hr my-4 mx-md-0 mx-4">
        <p class="mx-md-0 mx-4">Imagina aprender una disciplina que te brinde fuerza física, agilidad mental y confianza en ti mismo, todo
          mientras te sumerges en una práctica que fusiona gracia y poder. El taekwondo combina técnicas de piernas y
          brazos en un baile fluido de movimientos elegantes y precisos.</p>
      </div>
      <div class="img-content d-flex justify-content-center justify-content-md-end mx-5 my-md-0 my-5">
        <img #animatedImage src="../../../../assets/media/pablo_ivan_patada.webp" alt="Se muestran dos competidores en una competición oficial">
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center flex-md-row-reverse">
      <div class="text-content d-flex flex-column justify-content-center mx-5 my-md-5 my-0">
        <h1 class="h3 text-md-end text-center fw-bold">NUESTRAS ENSEÑANZAS</h1>
        <hr class="hr my-4 mx-md-0 mx-4">
        <p class="mx-md-0 mx-4">En nuestra escuela, no solo te enseñaremos las habilidades técnicas del taekwondo, sino que también
          cultivaremos valores como el respeto, la disciplina y la perseverancia. A través de la práctica constante,
          aprenderás a superar desafíos tanto dentro como fuera del tatami..</p>
      </div>
      <div class="img-content d-flex justify-content-center justify-content-md-start mx-5 my-md-0 my-5">
        <img #animatedImage src="../../../../assets/media/sara_cambio_cinturon.webp" alt="Se muestran dos competidores en una competición oficial">
      </div>
    </div>
    <div class="mb-5 d-flex flex-column flex-md-row align-items-center">
      <div class="text-content d-flex flex-column justify-content-center mx-5 my-md-5 my-0">
        <h1 class="h3 text-md-start text-center fw-bold">¿Y SI LO HAGO MAL?...</h1>
        <hr class="hr my-4 mx-md-0 mx-4">
        <p class="mx-md-0 mx-4">Ya seas un principiante absoluto o un practicante experimentado, el taekwondo es para todos. Desde niños
          hasta adultos, todos pueden beneficiarse de sus enseñanzas. Además, es una excelente manera de mantenerse en
          forma, mejorar la flexibilidad y reducir el estrés.</p>
      </div>
      <div class="img-content d-flex justify-content-center justify-content-md-end mx-5 mt-md-0 mt-5">
        <img #animatedImage src="../../../../assets/media/nunca_es_tarde.webp" alt="Se muestran dos competidores en una competición oficial">
      </div>
    </div>
  </section>
  <section class="p-0 my-5 second-banner-section">
    <div class="second-banner mx-0 mx-md-5 d-flex flex-column justify-content-center align-items-center text-center">
      <p class="text-white display-3 fst-italic">PRIMERA CLASE GRATUITA</p>
      <p class="text-white my-2 display-6">¿Estás listo para APRENDER CON NOSOTROS?</p>
      <button type="button" class="btn btn-danger fw-bold mt-5" (click)="irARuta('/contacto')">Más información</button>
    </div>
  </section>
</div>
