$primary-color: #007bff;
$border-radius: 10px;
$input-padding: 15px;
$label-font-size: 1rem;

.container {
  margin: auto;
}

.card {
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem !important;

  label {
    font-size: $label-font-size;
    font-weight: 500;
    color: #8c8f92;
    margin-left: 15px;
    transition: all 0.2s ease;
  }

  .form-control {
    border-radius: $border-radius;
    padding: $input-padding;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease;
    width: 100%;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      top: -5px;
      left: 0px;
      font-size: 0.85rem !important;
      color: $primary-color;
      background-color: #fff;
      height: 30px;
      padding: 0 5px;
      transition: all 0.2s ease;
    }
  }
}

button[type="submit"] {
  border-radius: $border-radius;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

button.btn-secondary {
  border-radius: $border-radius;
  padding: 5px 10px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#6c757d, 10%);
  }
}

.text-danger {
  font-size: 0.80rem;
}
