footer {
  .row {
    margin: 0 auto;

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }

    img {
      width: 60%;
    }

    .nav-link {
      cursor: pointer;
    }

    .social-footer {
      p {
        margin: 0;
      }
    }

    .nav-item {
      position: relative;
  
      .dropdown-toggle {
        cursor: pointer;
      }
  
      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 80px;
        display: block;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        background-color: #000000;
        box-shadow: 0 2px 8px rgba(255, 255, 255, 0.15);
        padding: 0;
        list-style: none;
        min-width: 150px;
        border-radius: 5px;
        overflow: hidden;
      }
  
      &:hover > .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
  
      .dropdown-item {
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        display: block;
        cursor: pointer;
  
        &:hover {
          background-color: #222222;
        }
      }
    }
  }

  hr {
    border-top: 1px solid white;
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 18px !important;
  }

  p {
    font-size: 14px !important;
  }
}

@media (max-width: 992px) {
  h2 {
    font-size: 16px !important;
  }

  p {
    font-size: 12px !important;
  }
}
