<footer class="footer bg-black text-white">
  <div class="container-fluid pt-3">
    <div class="row col-11 pt-2">
      <div class="col-3">
        <img src="assets/media/LogoTaemoi.svg" alt="Logo">
        <div class="social-footer mt-4">
          <p><i class="bi bi-phone-fill"></i> 625753952</p>
          <p><i class="bi bi bi-envelope-at-fill"></i> moiskimdotaekwondo&#64;gmail.com</p>
          <p><i class="bi bi-geo-alt-fill"></i> Calle Parada de la Cigüeña, 34a 41806 Umbrete, Sevilla</p>
        </div>
      </div>
      <div class="col-2">
        <h2 class="fw-bold h5 mt-4">MAPA WEB</h2>
        <ul class="list-unstyled text-decoration-underline pt-2">
          <li><a class="nav-link" (click)="irARuta('/inicio')">Inicio</a></li>
          <li><a class="nav-link" (click)="irARuta('/inicio')">El Taekwondo</a></li>
          <li><a class="nav-link" (click)="irARuta('/logros')">Logros</a></li>
          <li><a class="nav-link" (click)="irARuta('/inicio')">Horarios</a></li>
          <li><a class="nav-link" (click)="irARuta('/contacto')">Contacto</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h2 class="fw-bold h5 mt-4">AUTOR</h2>
        <ul class="list-unstyled pt-2">
          <li><p>Web desarrollada por Carlos Sánchez Román</p></li>
          <li><a class="nav-link" href="https://github.com/csanrom1702" target="_blank"><i class="bi bi-github fs-3"></i></a></li>
        </ul>
      </div>
      <div class="col-3">
        <h2 class="fw-bold h5 mt-4 text-center">REDES SOCIALES</h2>
        <div class="pt-2 d-flex justify-content-center">
          <a class="nav-link me-2" href="https://www.facebook.com/moiskimdo.escueladetaekwondo/" target="_blank"><i class="bi bi-facebook fs-4"></i></a>
          <a class="nav-link ms-2" href="https://www.instagram.com/moiskimdo_/" target="_blank"><i class="bi bi-instagram fs-4"></i></a>
        </div>
      </div>
      <div class="col-2">
        <h2 class="fw-bold h5 mt-4">ATRIBUCIONES</h2>
          <a class="nav-link text-decoration-underline pt-2" href="https://github.com/csanrom1702" target="_blank">Aikido Vectores por Vecteezy</a>
      </div>
    </div>
    <hr class="hr">
    <div class="row col-11">
      <div class="col-md-12 text-end">
        <p>Copyright &copy; 2024 TaeMoi - Moi's Kim Do Taekwondo</p>
      </div>
    </div>
  </div>
</footer>
