<div class="container mt-5">
  <div class="card p-4 shadow-sm">
    <h2 class="text-center mb-4">Crear Evento</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="eventoForm" class="mt-4">
      <div class="form-group mb-4">
        <label for="titulo" class="form-label">Título del evento:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo" required>
      </div>
      <div class="form-group mb-4">
        <label for="descripcion" class="form-label">Descripción del evento:</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion"
          required>
      </div>
      <div class="form-group mb-4">
        <label for="fotoEvento" class="form-label">Imagen del evento:</label>
        <input type="file" class="form-control" id="fotoEvento" name="fotoEvento" (change)="onFileChange($event)"
          accept="image/*">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="eventoForm.invalid">Crear Evento</button>
      </div>
    </form>
  </div>
</div>
