<!-- skeleton.component.html -->
<div class="p-0 d-flex flex-column container-fluid">
  <div class="row flex-grow-1">
    <div class="content-container p-0 d-flex flex-column w-100">
      <app-header class="row justify-content-center"></app-header>
      <main class="row g-0" id="content">
        <ng-content></ng-content>
      </main>
    </div>
  </div>
  <app-fab-navegacion></app-fab-navegacion>
  <app-botonscroll></app-botonscroll>
  <app-footer class="row"></app-footer>
</div>
