.container-fluid {
  width: 100%;
  max-width: 100%;
  padding: 0;

  .row {
    width: 100%;
    padding: 0;
    margin: 0;

    .transition-col {
      transition: width 0.3s ease;
    }
  }
  .col-12 {
    &.sidebar-colapsado {
      width: 97.4% !important;
    }
  }
}
