<div class="container-fluid vh-100 p-0 d-flex flex-column">
  <div class="row flex-grow-1">
    <div *ngIf="usuarioLogueado" [ngClass]="{'col-2': !sidebarColapsado, 'col-auto': sidebarColapsado}" class="p-0 bg-black transition-col">
      <app-sidebar (colapsoCambiado)="onColapsoCambiado($event)"></app-sidebar>
    </div>
    <div [ngClass]="{'col-10': usuarioLogueado && !sidebarColapsado, 'col-11': usuarioLogueado && sidebarColapsado, 'col-12': !usuarioLogueado}" class="p-0 d-flex flex-column">
      <app-header class="row justify-content-center"></app-header>
      <main class="row flex-grow-1">
        <ng-content></ng-content>
      </main>
    </div>
  </div>
  <app-botonscroll></app-botonscroll>
  <app-footer class="row"></app-footer>
</div>
