@font-face {
  font-family: 'Osaka-Sans Serif';
  src: url('../../../../assets/fonts/osaka-re.ttf') format('truetype');
}

.main-content {
  .video-container {
    position: relative;
    padding: 0;

    video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      filter: brightness(80%);
    }

    .video-text {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

      p {
        font-family: 'Osaka-Sans Serif', sans-serif;

        &:first-child {
          font-size: 3vw;
        }

        &:last-child {
          font-size: 4vw;
        }
      }
    }

    .video-image {
      position: absolute;
      bottom: -18px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0 20px;

      img {
        min-width: 80px;
        height: auto;
        mask-image: linear-gradient(to bottom, black 75%, transparent 95%);
      }

      .video-image-item-1 {
        max-width: 500px;
        width: 19vw;
        margin-right: auto;
      }

      .video-image-item-2 {
        max-width: 400px;
        width: 11vw;
      }

      .video-image-item-3 {
        max-width: 300px;
        width: 10vw;
        margin-left: 30%;
        margin-right: 4%;
      }
      
      
    }
  }

  .info-divs-section {
    .info-div {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;


      .text-content {
        flex: 1;
        text-align: center;

        h1 {
          font-weight: 700;
        }

        p {
          margin: 1rem auto;
          width: 75%;
        }

        button {
          margin: 1rem auto;
          width: 180px;
        }

        .taekwondo-button {
          background-color: #0D47A1;
          border-color: #0D47A1;
          color: #fff;

          &:hover {
            background-color: #1976D2;
            border-color: #1976D2;
          } 
        }

        .kickboxing-button {
          background-color: #ff4500;
          border-color: #ff4500;
          color: #fff;
  
          &:hover {
            background-color: #e83e00;
            border-color: #e83e00;
          }
        }

        .pilates-button {
          background-color: #57A2A8;
          border-color: #57A2A8;
          color: #fff;
  
          &:hover {
            background-color: #468A8F;
            border-color: #468A8F;
          }
        }
      }

      .img-content {
        flex: 1;
        text-align: center;

        & img {
          max-width: 100%;
          height: auto;
          filter: grayscale(100%);
          border-radius: 7px 0 0 7px;
          opacity: 0;
          transform: translateY(30px);
          transition: opacity 1s ease, transform 1s ease;
        }

        img.kickboxing-image {
          border-radius: 0 7px 7px 0;
        }
  
        & img.fade-in {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .info-div-reverse {
      @media (max-width: 767.98px) {
        flex-direction: column-reverse !important;
      }
    }
  }

  .map-section {
    position: relative;
    padding: 2rem 0;
    background: #f0f2f5;

    .location-container {
      position: relative;
      width: 90%;
      background: linear-gradient(135deg, #ffffff, #f7f7f7);
      border-radius: 15px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
      }

      .card-img-top {
        border-radius: 15px 15px 0 0;
      }

      .card-body {
        padding: 2rem;
        background: linear-gradient(135deg, #ffffff, #f0f2f5);

        h2 {
          font-size: 2rem;
          margin-bottom: 1rem;
          color: #333;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        }

        p {
          font-size: 1.1rem;
          line-height: 1.8;
          color: #666;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
        }

        .additional-info {
          font-size: 1rem;
          color: #555;

          i {
            color: #890000;
          }

          a {
            color: #0066cc;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          .link-info {
            color: #0066cc;
            font-weight: 600;
            cursor: pointer;
          }
        }

        .btn-primary {
          background-color: #890000;
          border-color: #890000;

          &:hover {
            background-color: #660000;
            border-color: #660000;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .video-image {
      display: none !important;
    }

    .video-text {
      top: 50% !important;

      p {
        &:first-child {
          font-size: 7vw !important;
        }

        &:last-child {
          font-size: 8vw !important;
        }
      }
    }

    .slider-section {
      margin-bottom: 560px !important;

      .background-container {
        height: 300px !important;
      }

      .container-slider {
        height: 300px !important;

        .slider {
          width: 500px !important;
          height: 250px !important;
        }
      }
    }
  }

  @media (max-width: 652px) {
    .slider-section {
      margin-bottom: 430px !important;

      .background-container {
        height: 200px !important;
      }

      .container-slider {
        height: 200px !important;

        .slider {
          width: 310px !important;
          height: 160px !important;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .location-container {
      width: 95% !important;
    }
  }

  @media (max-width: 576px) {
    .location-container {
      width: 100% !important;
    }
  }
}
