<div class="main-content row">
  <div class="video-container vw-100 vh-100">
    <video autoplay loop muted aria-label="Video de presentación" #videoPresentacion>
      <source src="assets/media/video_portada.mp4" type="video/mp4">
      Tu navegador no soporta la etiqueta de video.
    </video>
    <div class="video-text text-white text-center d-flex flex-column">
      <p class="m-0">MOIS KIM DO</p>
      <p class="m-0">TAEKWONDO</p>
    </div>
    <div class="video-image">
      <img class="img-fluid w-100" src="assets/media/taekwondista.svg" alt="Taekwondista cinturón negro dibujado">
    </div>
  </div>
  <section class="p-0 info-divs-section">
    <div class="info-div mt-5 d-flex flex-row align-items-center">
      <div class="text-content d-flex flex-column justify-content-center">
        <h1 class="h2 text-center fst-italic">QUIENES SOMOS</h1>
        <p class="mt-5">Somos una pequeña escuela de Taekwondo ubicada en el corazón del Aljarafe Sevillano que lleva en
          activo más de
          15 años, con una gran pasión por el deporte que ejercemos y un carisma sin igual.</p>
        <p class="mt-4">Únete a nuestra comunidad de taekwondo hoy mismo y descubre cómo el entrenamiento físico, la
          disciplina mental
          y la camaradería pueden transformar tu vida. ¡Te esperamos en Moiskimdo!</p>
        <button type="button" class="btn btn-primary mt-5" (click)="irARuta('/horarios')">Consulta horarios</button>
      </div>
      <div class="img-content d-flex justify-content-end">
        <img src="assets/media/rafa_competicion.webp" alt="Se muestran dos competidores en una competición oficial">
      </div>
    </div>
    <div class="info-div mb-5 d-flex flex-row align-items-center">
      <div class="img-content d-flex justify-content-end">
        <img src="assets/media/pablo_competicion.webp" alt="Se muestran dos competidores en una competición oficial">
      </div>
      <div class="text-content d-flex flex-column justify-content-center">
        <h1 class="h2 text-center fst-italic">QUE HACEMOS</h1>
        <p class="mt-5">Ofrecemos clases dinámicas y emocionantes para niños y adultos de todas las edades. Desde los más
          pequeños hasta los más experimentados, todos son bienvenidos a descubrir el arte del taekwondo en un ambiente
          divertido y seguro.</p>
        <p class="mt-4">¿Te gustaría probar una clase gratis? ¡Estamos encantados de ofrecerte la oportunidad de
          experimentar la energía y la disciplina que caracterizan nuestras sesiones de entrenamiento!</p>
        <p class="mt-4">Contáctanos para más información pulsando abajo</p>
        <button type="button" class="btn btn-danger mt-5" (click)="irARuta('/contacto')">Contáctanos</button>
      </div>
    </div>
  </section>
  <section class="slider-section p-0">
    <div class="background-container"></div>
    <div class="container-slider">
      <div class="container slider">
        <app-slider-tocable [imagenesSlider]="imagenesSlider"></app-slider-tocable>
      </div>
    </div>
  </section>
  <section class="mb-5 d-flex align-items-center justify-content-around map-section">
    <div class="card w-50 mt-4 img-content d-flex flex-column justify-content-center location-container">
      <app-mapa class="card-img-top"></app-mapa>
      <div class="card-body">
        <h2 class="h5 my-4 fw-bold">Calle Parada de la Cigüeña, 34a 41806 Umbrete, Sevilla</h2>
        <p>Te esperamos con los brazos abiertos. Con clases para todas las edades y niveles de habilidad, estamos
          comprometidos a ayudarte a alcanzar tus metas, ya sea que busques mejorar tu condición física, aumentar tu
          confianza o pasártelo bien aprendiendo.</p>
      </div>
    </div>
  </section>
</div>
