.main-content {
  overflow: hidden;

  .carousel-presentacion {
    .carousel-inner {
      max-width: 100%;
      position: relative;
      left: 0;

      .carousel-item {
        img {
          height: 900px;
          min-width: 1920px;
          width: auto;
          position: relative;
          left: calc((100% - 1920px) / 2);
        }
      }
    }
  }

  .logo-presentacion {
    div {
      div {
        img {
          height: auto;
          max-width: 250px;
          width: 100%;
          margin: 0 auto;
        }

        .card-body {
          p {
            text-wrap: pretty;
          }
        }
      }
    }
  }

  .separador {
    margin: 0 auto;
  }

  .container-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;



    .slider {
      width: 800px;
      height: 400px;
    }
  }
}

