@font-face {
  font-family: 'Osaka-Sans Serif';
  src: url('../../../../assets/fonts/osaka-re.ttf') format('truetype');
}

.planner-container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom right, #ffffff, #f9f9f9);
  padding: 40px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  }
}

.title {
  font-family: 'Osaka-Sans Serif', sans-serif;
  color: #333333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  margin-bottom: 30px;
  font-size: 1.25rem;
}

.table {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  transition: background 0.3s ease;

  th, td {
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
  }

  th {
    background: #495057;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
  }

  td {
    border: 1px solid #e1e1e1;
    font-weight: bold;
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: #f7f7f7;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

.turno-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  background: #f9f9f9;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.3s ease;

  &:hover {
    background: #f1f1f1;
    transform: translateY(-3px);
  }
}

.turno-hora {
  font-weight: bold;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.categoria-deporte {
  color: #17a2b8;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}

.no-turnos {
  color: #999999;
  font-style: italic;
  font-size: 0.9rem;
}
