<div class="login-container row d-flex justify-content-center vh-100 align-items-center">
  <div class="col-md-9 col-12">
    <div class="card shadow row">
      <div class="text-center d-flex flex-md-row flex-column justify-content-between align-items-center card-header p-5">
        <h1 class="h2 fw-bold text-white m-0">INICIAR SESIÓN</h1>
        <img src="../../../../assets/media/Logo_escuela.svg" alt="Club Moi's Kim Do Logo" class="logo img-fluid">
      </div>
      <form (ngSubmit)="login()" class="p-5" method="post">
        <div class="mb-5">
          <input type="email" id="email" name="email" [(ngModel)]="credenciales.email" required class="form-control" placeholder="Email">
        </div>
        <div class="mb-5 position-relative">
          <input [type]="passwordFieldType" id="contrasena" name="contrasena" [(ngModel)]="credenciales.contrasena" required class="form-control" placeholder="Contraseña">
          <span class="password-toggle position-absolute end-0 top-50 translate-middle-y me-3" (click)="togglePasswordVisibility()">
            <i [ngClass]="passwordToggleIcon" aria-hidden="true"></i>
          </span>
        </div>
        <div class="button-container d-flex justify-content-center align-items-center">
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
