.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;

  .slider-item {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: z-index 250ms;

    .slider-img {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
      transform: scale(0);
      opacity: 0;
      border-radius: 15px;
    }

    &.ocultaIzquierda {
      .slider-img {
        transform: translateX(-50%) scale(0);
      }
    }

    &.anterior {
      z-index: 1;

      .slider-img {
        opacity: 0.8;
        transform: translateX(-25%) scale(0.8);
      }
    }

    &.seleccionado {
      z-index: 2;

      .slider-img {
        opacity: 1;
        transform: translateX(0) scale(1);
        cursor: grab;
      }
    }

    &.siguiente {
      z-index: 1;

      .slider-img {
        opacity: 0.8;
        transform: translateX(25%) scale(0.8);
      }
    }

    &.ocultaDerecha {
      .slider-img {
        transform: translateX(50%) scale(0);
      }
    }
  }
}

@media (max-width: 576px) {
  .slider-container {
    height: 55%;
    width: 80%;
  }
}
