.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .slider-item {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: z-index 250ms;

    p {
      font-size: 20px;
    }

    .slider-img {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
      transform: scale(0);
      opacity: 0;
      border-radius: 15px;
      filter: drop-shadow(0 0 20px rgba(0, 0, 0, .5));
    }

    &.ocultaIzquierda {
      .slider-img {
        transform: translateX(-50%) scale(0);
      }
    }

    &.anterior {
      z-index: 1;

      .slider-img {
        filter: contrast(75%);
        opacity: 1;
        transform: translateX(-25%) scale(0.8);
      }
    }

    &.seleccionado {
      z-index: 2;

      .slider-img {
        opacity: 1;
        transform: translateX(0) scale(1);
        cursor: grab;
      }
    }

    &.siguiente {
      z-index: 1;

      .slider-img {
        filter: contrast(75%);
        opacity: 1;
        transform: translateX(25%) scale(0.8);
      }
    }

    &.ocultaDerecha {
      .slider-img {
        transform: translateX(50%) scale(0);
      }
    }
  }
}

@media (max-width: 1288px) {
  p {
    font-size: 16px !important;
  }
}

@media (max-width: 992px) {
  p {
    font-size: 14px !important;
  }
}

