<div class="sidebar-container">
  <div class="d-flex justify-content-center">
    <i
      class="fs-2 text-primary text-center icono-sidebar bi-box-arrow-in-right" (click)="alternarVisibilidadSidebar()"></i>
  </div>
  <aside [ngClass]="{'sidebar': true, 'collapsed': estaColapsado}">
    <div class="list-group">
      <a (click)="irAListado()" class="list-group-item list-group-item-action">Ir a listado</a>
      <a (click)="irACrear()" class="list-group-item list-group-item-action">Crear alumno</a>
      <a class="list-group-item list-group-item-action">Enlace 3</a>
    </div>
  </aside>
</div>
