/* sidebar.component.scss */
@font-face {
  font-family: 'Osaka-Sans Serif';
  src: url('../../../../../assets/fonts/osaka-re.ttf') format('truetype');
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1050;

  .sidebar-top-container {
    .toggle-sidebar-button {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #3a6864, #192D2B);
      color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease, left 0.4s ease;
      font-size: 2rem;

      &:hover {
        background: linear-gradient(135deg, #192D2B, #3a6864);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        transform: translateY(-4px);
      }
    
      &:active {
        transform: translateY(2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .sidebar {
    width: 300px;
    height: 100%;
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

    &.expanded {
      transform: translateX(0);
    }

    .img-div {
      background-image: linear-gradient(#192D2B 50%, #000000 50%);
      .centered-image {
        max-width: 50%;
        max-height: 50%;
        border: 10px solid black;
        border-radius: 50%;
      }
    }

    .user-container {
      background-color: #192D2B;

      & h2 {
        font-family: 'Osaka-Sans Serif', sans-serif;
        overflow: hidden;
        word-wrap: break-word;
        color: white;
      }
      & p {
        opacity: 75%;
      }
    }

    ul {
      li {
        a {
          cursor: pointer;

          .nav-link {
            &.active {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #0f1a1a;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f1a1a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #192D2B;
  border-radius: 10px;
  border: 2px solid #0f1a1a;
}

.button-visible {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  transition: left 0.4s ease;
}

.button-hidden {
  position: fixed;
  top: 10px;
  left: 310px;
  z-index: 1100;
  transition: left 0.4s ease;
}