@font-face {
  font-family: 'Osaka-Sans Serif';
  src: url('../../../../../assets/fonts/osaka-re.ttf') format('truetype');
}

.sidebar-container {
  .sidebar-top-container {
    background-color: #192D2B;
  }

  .sidebar {
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s ease;

    .centered-image {
      position: absolute;
      top: 18%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 50%;
      max-height: 50%;
      border: 10px solid black;
      border-radius: 50%;
    }

    .user-container {
      background-color: #192D2B;
      height: 190px;

      & h2 {
        font-family: 'Osaka-Sans Serif', sans-serif;
        overflow: hidden;
        word-wrap: break-word;
      }

      & p {
        opacity: 75%;
        overflow: hidden;
        word-wrap: break-word;
      }
    }

    &.collapsed {
      transform: translateX(-100%);
      width: 0;
    }

    .sidebar-list-top {
      margin-top: 120px;
    }

    ul {
      li {
        a {
          cursor: pointer;

          .nav-link {
            &.active {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
