<div class="container-fluid py-5">
  <div class="row">
    <div class="col-md-12 mt-3 text-center">
      <h2 class="fw-bold">Listado de Alumnos</h2>
    </div>
  </div>

  <div class="row my-3 d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar por nombre"
        [(ngModel)]="nombreFiltro"
        (ngModelChange)="filtrarPorNombre()"
      />
    </div>
    <div class="col-md-6 col-lg-4 text-end">
      <button class="btn btn-secondary" (click)="alternarInactivos()">
        {{ mostrarInactivos ? 'Mostrar solo activos' : 'Mostrar todos' }}
      </button>
    </div>
  </div>

  <div class="row">
    <div
      *ngFor="let alumno of alumnos"
      class="col-md-6 col-lg-4 d-flex align-items-stretch justify-content-center"
    >
      <div class="card alumno-card my-3">
        <div class="card-body d-flex">
          <!-- Sección izquierda: imagen y nombre -->
          <div class="left-section text-center">
            <div class="imagen-perfil-container mx-auto">
              <img
                class="imagen-perfil"
                [src]="alumno.fotoAlumno?.url ? alumno.fotoAlumno.url : '../../../../assets/media/default.webp'"
                alt="Perfil del alumno"
              />
            </div>
            <h4 class="mt-3">{{ alumno.nombre }} {{ alumno.apellidos }}</h4>
            <p class="mt-1">Nº Exp: {{ alumno.numeroExpediente }}</p>
          </div>

          <!-- Sección derecha: datos del alumno -->
          <div class="right-section ms-4">
            <p>Edad: {{ calcularEdad(alumno.fechaNacimiento) }}</p>
            <p>Teléfono: {{ alumno.telefono }}</p>
            <p>Tarifa: {{ alumno.tipoTarifa }}</p>
            <p>Alta: {{ alumno.fechaAlta | date: 'dd/MM/yyyy' }}</p>
            <p>Categoría: {{ alumno.categoria }}</p>
            <p>Grado: {{ alumno.grado }}</p>
            <p *ngIf="mostrarInactivos">
              Baja: {{ alumno.fechaBaja ? (alumno.fechaBaja | date: 'dd/MM/yyyy') : 'N/A' }}
            </p>
            <div class="d-flex justify-content-start mt-2">
              <button
                *ngIf="alumno.fechaBaja"
                class="btn btn-success btn-sm mx-1"
                (click)="darDeAlta(alumno.id)"
              >
                Dar de Alta
              </button>
              <button
                *ngIf="!alumno.fechaBaja"
                class="btn btn-danger btn-sm mx-1"
                (click)="darDeBaja(alumno.id)"
              >
                Dar de Baja
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-paginacion
    [paginaActual]="paginaActual"
    [totalPaginas]="totalPaginas"
    [tamanoPagina]="tamanoPagina"
    (pageChange)="cambiarPagina($event)"
  ></app-paginacion>
</div>
