.alumno-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .card-body {
    display: flex; /* Hace que las dos secciones estén alineadas horizontalmente */
    padding: 20px;

    .left-section {
      text-align: center;

      .imagen-perfil-container {
        .imagen-perfil {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }

      h4 {
        margin-top: 15px;
        font-size: 1.25rem;
        font-weight: bold;
        color: #333;
      }

      p {
        font-size: 0.9rem;
        color: #666;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    .right-section {
      flex-grow: 1;
      margin-left: 20px;

      p {
        font-size: 0.9rem;
        color: #666;
        margin-bottom: 5px;
      }

      .btn {
        font-size: 0.85rem;
        padding: 5px 10px;
      }
    }
  }
}

input[type='text'] {
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}
