<div class="container-fluid py-2">
  <div class="row">
    <div class="col-2 mt-3 d-flex flex-row">
      <app-sidebar class="w-100"></app-sidebar>
    </div>
    <div class="col-10 mt-3">
      <h3>Eliminar Alumnos</h3>
      <button class="btn btn-danger my-3" (click)="eliminarAlumnosSeleccionados()">Eliminar seleccionados</button>
      <table class="table">
        <caption>Eliminar alumnos</caption>
        <thead>
          <tr>
            <th>Seleccionar</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Número de Expediente</th>
            <th>DNI</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos">
            <td class="align-middle">
              <div class="form-check d-flex align-items-center">
                <input type="checkbox" class="form-check-input" [(ngModel)]="alumno.selected">
              </div>
            </td>
            <td class="align-middle">{{ alumno.nombre }}</td>
            <td class="align-middle">{{ alumno.apellidos }}</td>
            <td class="align-middle">{{ alumno.numeroExpediente }}</td>
            <td class="align-middle">{{ alumno.nif }}</td>
            <td>
              <button class="btn btn-danger" (click)="eliminarAlumno(alumno.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center align-items-center">
        <nav aria-label="Page navigation example" class="mt-4">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="paginaActual === 1">
              <a class="page-link" (click)="cambiarPagina(1)" aria-label="First">
                <span aria-hidden="true"><i class="bi bi-arrow-left-square-fill fs-6"></i></span>
              </a>
            </li>
            <li class="page-item" [class.disabled]="paginaActual === 1">
              <a class="page-link" (click)="cambiarPagina(paginaActual - 1)" aria-label="Previous">
                <span class="sr-only">Anterior</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of mostrarPaginas" [class.active]="paginaActual === page">
              <a class="page-link" (click)="cambiarPagina(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
              <a class="page-link" (click)="cambiarPagina(paginaActual + 1)" aria-label="Next">
                <span class="sr-only">Siguiente</span>
              </a>
            </li>
            <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
              <a class="page-link" (click)="cambiarPagina(totalPaginas)" aria-label="Last">
                <span aria-hidden="true"><i class="bi bi-arrow-right-square-fill fs-6"></i></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</div>
