<div class="container-fluid my-5">
  <div class="card p-4">
    <h2 class="text-center mb-4">Horario de Turnos</h2>
    <div class="table-responsive">
      <table class="table custom-table mt-4">
        <thead>
          <tr>
            <th class="text-center">Día de la Semana</th>
            <th class="text-center">Turno</th>
            <th class="text-center">Grupo</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let diaSemana of diasSemana">
            <ng-container *ngIf="obtenerTurnosPorDia(diaSemana).length > 0">
              <tr *ngFor="let turno of obtenerTurnosPorDia(diaSemana); let i = index">
                <td *ngIf="i === 0" [attr.rowspan]="obtenerTurnosPorDia(diaSemana).length"
                  class="text-center align-middle">{{ diaSemana }}</td>
                <td class="text-center align-middle">{{ turno.turno }}</td>
                <td class="text-center align-middle">{{ turno.grupo ? turno.grupo.nombre : 'Sin grupo' }}</td>
                <td class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                  <button class="btn btn-secondary btn-sm me-md-1 mb-2 mb-md-0"
                    [routerLink]="['/seleccionarGrupo', turno.id]">Añadir a Grupo</button>
                  <button class="btn btn-primary btn-sm me-md-1 mb-2 mb-md-0"
                    [routerLink]="['/turnosEditar', turno.id]">Actualizar</button>
                  <button class="btn btn-danger btn-sm" (click)="eliminarTurno(turno.id)">Eliminar</button>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="obtenerTurnosPorDia(diaSemana).length === 0">
              <td class="text-center">{{ diaSemana }}</td>
              <td colspan="3" class="text-center">No hay turnos</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
