<div class="container-fluid pb-4">
  <div class="row">
    <div class="mt-3 d-flex flex-column flex-wrap justify-content-center align-items-center">
      <div *ngIf="!mostrarFormulario" class="py-5 w-100">
        <div class="row my-3 d-flex justify-content-center">
          <div class="col-md-6 col-lg-4">
            <input type="text" class="form-control" placeholder="Filtrar por nombre" [(ngModel)]="nombreFiltro"
              (ngModelChange)="filtrarPorNombre()" />
          </div>
        </div>
        <div class="card-container">
          <div *ngFor="let alumno of alumnos" class="card shadow-sm mb-4">
            <div class="card-body d-flex flex-row justify-content-center align-items-center flex-wrap">
              <div class="profile-info d-flex align-items-center mb-3">
                <img class="imagen-perfil me-3"
                  [src]="alumno.fotoAlumno ? 'data:' + alumno.fotoAlumno.tipo + ';base64,' + alumno.fotoAlumno.datos : '../../../../assets/media/default.webp'"
                  alt="Perfil del alumno">
                <div>
                  <h5 class="card-title">{{ alumno.nombre }} {{ alumno.apellidos }}</h5>
                  <p class="card-text">Número de expediente: {{ alumno.numeroExpediente }}</p>
                </div>
              </div>
              <button class="btn btn-primary" (click)="alternarFormulario(alumno)">
                Mostrar menú de edición
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Información Personal</h5>
                <ul class="list-group list-group-flush" *ngFor="let alumno of alumnos">
                  <li class="list-group-item">Nombre: {{ alumno.nombre }}</li>
                  <li class="list-group-item">Apellidos: {{ alumno.apellidos }}</li>
                  <li class="list-group-item">Dirección: {{ alumno.direccion }}</li>
                  <li class="list-group-item">Fecha de Nacimiento: {{ alumno.fechaNacimiento | date:'dd/MM/yyyy' }}</li>
                  <li class="list-group-item">DNI del alumno: {{ alumno.nif }}</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Contacto</h5>
                <ul class="list-group list-group-flush" *ngFor="let alumno of alumnos">
                  <li class="list-group-item">Email: {{ alumno.email }}</li>
                  <li class="list-group-item">Teléfono: {{ alumno.telefono }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Pagos</h5>
                <ul class="list-group list-group-flush" *ngFor="let alumno of alumnos">
                  <li class="list-group-item">Cuantía de tarifa: {{ alumno.cuantiaTarifa }}</li>
                  <li class="list-group-item">Tipo de tarifa: {{ alumno.tipoTarifa }}</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Información adicional</h5>
                <ul class="list-group list-group-flush" *ngFor="let alumno of alumnos">
                  <li class="list-group-item">Fecha de alta: {{ alumno.fechaAlta | date:'dd/MM/yyyy' }}</li>
                  <li class="list-group-item">Fecha de baja: {{ alumno.fechaBaja | date:'dd/MM/yyyy' }}</li>
                  <li class="list-group-item">Categoría: {{ alumno.categoria }}</li>
                  <li class="list-group-item">Grado: {{ alumno.grado }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <app-paginacion [paginaActual]="paginaActual" [totalPaginas]="totalPaginas" [tamanoPagina]="tamanoPagina"
          (pageChange)="cambiarPagina($event)">
        </app-paginacion>
      </div>

      <div *ngIf="mostrarFormulario" class="py-5 w-100">
        <form [formGroup]="alumnoForm" (ngSubmit)="confirmarYActualizarAlumno(alumnoEditado.id, alumnoEditado)" method="post">
          <div class="image-container d-flex align-items-center text-center flex-column" *ngFor="let alumno of alumnos">
            <img class="imagen-perfil"
              [src]="alumno.id === alumnoEditado.id ? imagenPreview : (alumno.fotoAlumno ? 'data:' + alumno.fotoAlumno.tipo + ';base64,' + alumno.fotoAlumno.datos : '../../../../assets/media/default.webp')"
              alt="Perfil del alumno">
            <div class="d-flex flex-row align-items-center mt-3">
              <label for="inputFile" class="add-icon pe-2">
                <i class="bi bi-plus-circle-fill text-black fs-2"></i>
                <input id="inputFile" type="file" #inputFile (change)="onFileSelected($event)" accept="image/*">
              </label>
              <div class="remove-icon ps-2" *ngIf="alumno.fotoAlumno" (click)="eliminarFoto(alumno.id)">
                <i class="bi bi-dash-circle-fill text-black fs-2"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-4">Información Personal</h5>
                  <div class="form-group form-floating mb-3">
                    <input type="text" id="nombre" class="form-control" formControlName="nombre" required placeholder="Nombre">
                    <label for="nombre">Nombre</label>
                    <div
                      *ngIf="alumnoForm.get('nombre')?.errors && (alumnoForm.get('nombre')?.dirty || alumnoForm.get('nombre')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.get('nombre')?.errors?.['required']">Nombre es requerido</small>
                    </div>
                  </div>
                  <div class="form-group form-floating mb-3">
                    <input type="text" id="apellidos" class="form-control" formControlName="apellidos" required placeholder="Apellidos">
                    <label for="apellidos">Apellidos</label>
                    <div
                      *ngIf="alumnoForm.get('apellidos')?.errors && (alumnoForm.get('apellidos')?.dirty || alumnoForm.get('apellidos')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.get('apellidos')?.errors?.['required']">Apellidos son requeridos</small>
                    </div>
                  </div>
                  <div class="form-group form-floating mb-3">
                    <input type="text" id="direccion" class="form-control" formControlName="direccion" required placeholder="Dirección">
                    <label for="direccion">Dirección</label>
                    <div
                      *ngIf="alumnoForm.get('direccion')?.errors && (alumnoForm.get('direccion')?.dirty || alumnoForm.get('direccion')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.get('direccion')?.errors?.['required']">Dirección es requerida</small>
                    </div>
                  </div>
                  <div class="form-group form-floating mb-3">
                    <input type="date" id="fechaNacimiento" class="form-control" formControlName="fechaNacimiento" required placeholder="Fecha de nacimiento">
                    <label for="fechaNacimiento">Fecha de nacimiento</label>
                    <div
                      *ngIf="alumnoForm.get('fechaNacimiento')?.errors && (alumnoForm.get('fechaNacimiento')?.dirty || alumnoForm.get('fechaNacimiento')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.get('fechaNacimiento')?.errors?.['required']">Fecha de nacimiento es
                        requerida</small>
                    </div>
                  </div>
                  <div class="form-group form-floating mb-3">
                    <input type="text" id="nif" class="form-control" formControlName="nif" required placeholder="DNI del alumno">
                    <label for="nif">DNI del alumno</label>
                    <div
                      *ngIf="alumnoForm.get('nif')?.errors && (alumnoForm.get('nif')?.dirty || alumnoForm.get('nif')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.get('nif')?.errors?.['required']">DNI del alumno es requerido</small>
                      <small *ngIf="alumnoForm.get('nif')?.errors?.['pattern']">DNI debe ser un formato válido (8 números
                        y una letra)</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-4">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-4">Contacto</h5>
                  <div class="form-group form-floating mb-3">
                    <input type="email" id="email" class="form-control" formControlName="email" required placeholder="Email">
                    <label for="email">Email</label>
                    <div
                      *ngIf="alumnoForm.get('email')?.errors && (alumnoForm.get('email')?.dirty || alumnoForm.get('email')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.get('email')?.errors?.['required']">Email es requerido</small>
                      <small *ngIf="alumnoForm.get('email')?.errors?.['email']">Debe ser un formato de email válido</small>
                    </div>
                  </div>
                  <div class="form-group form-floating mb-3">
                    <input type="tel" id="telefono" class="form-control" formControlName="telefono" required placeholder="Teléfono">
                    <label for="telefono">Teléfono</label>
                    <div
                      *ngIf="alumnoForm.get('telefono')?.errors && (alumnoForm.get('telefono')?.dirty || alumnoForm.get('telefono')?.touched)"
                      class="text-danger d-flex flex-column">
                      <small *ngIf="alumnoForm.get('telefono')?.errors?.['required']">Teléfono es requerido</small>
                      <small *ngIf="alumnoForm.get('telefono')?.errors?.['pattern']">Debe ser un número de teléfono válido
                      </small>
                      <small *ngIf="alumnoForm.get('telefono')?.errors?.['maxlength']">No debe tener más de 9 caracteres
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-4">Pagos</h5>
                  <div class="form-group form-floating mb-3">
                    <select class="form-control form-select" id="tipoTarifa" formControlName="tipoTarifa" required placeholder="Tipo de tarifa">
                      <option *ngFor="let tarifa of tiposTarifa" [value]="tarifa">{{ tarifa }}</option>
                    </select>
                    <label for="tipoTarifa">Tipo de tarifa:</label>
                    <div
                      *ngIf="alumnoForm.get('tipoTarifa')?.errors && (alumnoForm.get('tipoTarifa')?.dirty || alumnoForm.get('tipoTarifa')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.get('tipoTarifa')?.errors?.['required']">Tipo de tarifa es requerido</small>
                    </div>
                  </div>
                  <div class="form-group form-floating mb-3">
                    <input type="number" id="cuantiaTarifa" class="form-control" formControlName="cuantiaTarifa" required placeholder="Cuantía de Tarifa">
                    <label for="cuantiaTarifa">Cuantía de Tarifa</label>
                    <div
                      *ngIf="alumnoForm.get('cuantiaTarifa')?.errors && (alumnoForm.get('cuantiaTarifa')?.dirty || alumnoForm.get('cuantiaTarifa')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.get('cuantiaTarifa')?.errors?.['required']">Cuantía de Tarifa es requerida</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-4">Información adicional</h5>
                  <div class="form-group form-floating mb-3">
                    <input type="date" id="fechaAlta" class="form-control" formControlName="fechaAlta" required placeholder="Fecha de alta">
                    <label for="fechaAlta">Fecha de alta</label>
                    <div
                      *ngIf="alumnoForm.get('fechaAlta')?.errors && (alumnoForm.get('fechaAlta')?.dirty || alumnoForm.get('fechaAlta')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.get('fechaAlta')?.errors?.['required']">Fecha de alta es requerida</small>
                    </div>
                    <small *ngIf="alumnoForm.errors?.['fechaAltaAnteriorAFechaNacimiento']" class="text-danger">
                      Fecha de alta debe ser posterior a la fecha de nacimiento.
                    </small>
                  </div>
                  <div class="form-group form-floating mb-3">
                    <input type="date" id="fechaBaja" class="form-control" formControlName="fechaBaja" placeholder="Fecha de baja">
                    <label for="fechaBaja">Fecha de baja</label>
                    <div
                      *ngIf="alumnoForm.get('fechaBaja')?.errors && (alumnoForm.get('fechaBaja')?.dirty || alumnoForm.get('fechaBaja')?.touched)"
                      class="text-danger">
                      <small *ngIf="alumnoForm.errors?.['fechaBajaAnteriorAFechaAlta']">Fecha de baja debe ser posterior a
                        la fecha de alta</small>
                    </div>
                  </div>
                  <div class="form-group form-floating">
                    <select class="form-control form-select" id="grado" formControlName="grado" required placeholder="Grado">
                      <option *ngFor="let grado of tiposGrado" [value]="grado">{{ grado }}</option>
                    </select>
                    <label for="grado">Grado</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-around flex-row align-items-end mt-5">
            <button type="submit" class="btn btn-success mb-3 me-3" [disabled]="alumnoForm.invalid">
              Confirmar cambios
            </button>
            <button type="button" class="btn btn-secondary mb-3 ms-3"
              (click)="alternarFormulario(alumnoEditado)">Volver</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
