$primary-color: #007bff;
$border-radius: 10px;
$input-padding: 15px;
$label-font-size: 1rem;

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

.modal-content, #caption {
  animation: zoom 0.6s;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.profile-info {
  cursor: pointer;
}

.container {
  margin: auto;
}

.card {
  border-radius: 10px; // Mantener consistencia con el segundo componente
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;

  &:hover {
    background-color: darken(#dc3545, 10%);
    border-color: darken(#dc3545, 10%);
  }
}

img {
  border-radius: 5px;
  margin-top: 10px;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem !important; // Cambiar de 2.5rem a 1.5rem

  label {
    font-size: $label-font-size;
    font-weight: 500;
    color: #8c8f92;
    margin-left: 15px;
    transition: all 0.2s ease;
  }

  .form-control {
    border-radius: $border-radius;
    padding: $input-padding $input-padding 10px !important;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease;
    width: 100%;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      top: -5px;
      left: 0px;
      font-size: 0.85rem !important;
      color: $primary-color;
      background-color: #fff;
      height: 30px;
      padding: 0 5px;
      transition: all 0.2s ease;
    }
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
  }

  input:-webkit-autofill:focus {
    border-color: $primary-color;
    outline: none;
  }

  input:-webkit-autofill ~ label {
    top: -12px;
    left: 10px;
    font-size: 0.85rem !important;
    color: $primary-color;
    background-color: #fff;
    height: 30px;
    padding: 0 5px;
    transition: all 0.3s ease;
  }
}

button[type="submit"] {
  border-radius: $border-radius;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%); // Cambiar color de hover para que sea igual al segundo componente
  }
}

.form-check-inline {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .form-check-input {
    margin-right: 10px;
    margin-left: 0;
    flex-shrink: 0;
  }

  .form-check-label {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  margin: auto; /* Para centrar el contenedor de imagen en el centro de la pantalla */
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05); // Pequeño zoom al pasar el ratón por encima
  }
}

.imagen-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Añadir un sutil sombreado a la imagen
  transition: box-shadow 0.3s ease, border-color 0.3s ease;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); // Mayor sombra en hover
  }
}

/* Estilo del ícono para subir la imagen */
.add-icon {
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 48%; /* Posición sobre la imagen, a la izquierda */
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  i {
    font-size: 1.5rem;
    color: #fff; // Color blanco para el ícono
  }

  &:hover {
    transform: translate(-50%, 0); // Animación hacia abajo al hacer hover
  }

  input[type="file"] {
    display: none; // Ocultar el input de archivo
  }
}

/* Estilo del ícono para eliminar la imagen */
.remove-icon {
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  right: 48%; /* Posición sobre la imagen, a la derecha */
  transform: translate(50%, -50%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  i {
    font-size: 1.5rem;
    color: #fff; // Color blanco para el ícono
  }

  &:hover {
    transform: translate(50%, 0); // Animación hacia abajo al hacer hover
  }
}

@media (max-width: 992px) {
  .text-danger {
    font-size: 0.80rem !important;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}