<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngFor="let alumno of alumnos">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ alumno.nombre }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ alumno.apellidos }}</h6>
          <p class="card-text">Fecha de nacimiento: {{ alumno.fechaNacimiento }}</p>
          <p class="card-text">Número de expediente: {{ alumno.numeroExpediente }}</p>
          <p class="card-text">NIF: {{ alumno.nif }}</p>
          <p class="card-text">Dirección: {{ alumno.direccion }}</p>
          <p class="card-text">Email: {{ alumno.email }}</p>
          <p class="card-text">Teléfono: {{ alumno.telefono }}</p>
          <p class="card-text">Cuantía de la tarifa: {{ alumno.cuantiaTarifa }}</p>
          <p class="card-text">Tipo de tarifa: {{ alumno.tipoTarifa }}</p>
          <p class="card-text">Fecha de alta: {{ alumno.fechaAlta }}</p>
          <p class="card-text">Fecha de baja: {{ alumno.fechaBaja }}</p>
          <p class="card-text">Categoría: {{ alumno.categoria }}</p>
          <p class="card-text">Grado: {{ alumno.grado }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
