<div class="container-fluid py-2">
  <div class="row">
    <div class="col-2 mt-3 d-flex flex-row">
      <app-sidebar class="w-100"></app-sidebar>
    </div>
    <div class="col-10 mt-3 d-flex flex-column flex-wrap justify-content-center align-items-center">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <caption>Lista de alumnos</caption>
          <thead class="table-dark">
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Fecha de nacimiento</th>
              <th>Número de expediente</th>
              <th>NIF</th>
              <th>Dirección</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Cuantía de la tarifa</th>
              <th>Tipo de tarifa</th>
              <th>Fecha de alta</th>
              <th>Fecha de baja</th>
              <th>Categoría</th>
              <th>Grado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alumno of alumnos">
              <td>{{ alumno.nombre }}</td>
              <td>{{ alumno.apellidos }}</td>
              <td>{{ alumno.fechaNacimiento }}</td>
              <td>{{ alumno.numeroExpediente }}</td>
              <td>{{ alumno.nif }}</td>
              <td>{{ alumno.direccion }}</td>
              <td>{{ alumno.email }}</td>
              <td>{{ alumno.telefono }}</td>
              <td>{{ alumno.cuantiaTarifa }}</td>
              <td>{{ alumno.tipoTarifa }}</td>
              <td>{{ alumno.fechaAlta }}</td>
              <td>{{ alumno.fechaBaja }}</td>
              <td>{{ alumno.categoria }}</td>
              <td>{{ alumno.grado }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <a class="page-link" (click)="cambiarPagina(1)" aria-label="First">
              <span aria-hidden="true"><i class="bi bi-arrow-left-square-fill fs-6"></i></span>
            </a>
          </li>
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <a class="page-link" (click)="cambiarPagina(paginaActual - 1)" aria-label="Previous">
              <span class="sr-only">Anterior</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of mostrarPaginas" [class.active]="paginaActual === page">
            <a class="page-link" (click)="cambiarPagina(page)">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="paginaActual === totalPaginas - 1">
            <a class="page-link" (click)="cambiarPagina(paginaActual + 1)" aria-label="Next">
              <span class="sr-only">Siguiente</span>
            </a>
          </li>
          <li class="page-item" [class.disabled]="paginaActual === totalPaginas - 1">
            <a class="page-link" (click)="cambiarPagina(totalPaginas - 1)" aria-label="Last">
              <span aria-hidden="true"><i class="bi bi-arrow-right-square-fill fs-6"></i></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
