.container {
  max-width: 600px;
  margin: auto;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.form-label {
  font-weight: 500;
}

.form-control {
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

.image-container {
  position: relative;

  .imagen-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .add-icon,
  .remove-icon {
    cursor: pointer;
  }

  .add-icon input[type="file"] {
    display: none;
  }

  .remove-icon {
    font-size: 20px;
  }
}

button.btn-secondary {
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
}

button.btn-primary {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
    border-color: #004085;
  }

  &:disabled {
    background-color: #007bff;
    opacity: 0.6;
  }
}
