.image-container {
  position: relative;

  div {
    label {
      cursor: pointer;

      input[type="file"] {
        display: none;
      }
    }

    .remove-icon {
      z-index: 1;
      font-size: 20px;
    }
  }

  .imagen-perfil {
    width: 300px;
    height: auto;
    border-radius: 50%;
  }
}
