<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header text-center bg-primary text-white">
      <h1 class="card-title m-0">Tus grupos asociados</h1>
    </div>
    <div class="card-body">
      <div *ngIf="grupos.length > 0; else noGruposTemplate">
        <div class="row d-flex justify-content-center align-items-center flex-row">
          <div *ngFor="let grupo of grupos" class="col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">{{ grupo.nombre }}</h5>
                <button type="button" class="btn btn-primary mt-3" [routerLink]="['/userpage/' + grupo.id + '/turnos']">
                  <i class="bi bi-calendar-check"></i> Consultar turnos
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noGruposTemplate>
    <div class="alert alert-warning text-center" role="alert">
      No se encontraron grupos para este alumno.
    </div>
  </ng-template>
</div>
