@font-face {
  font-family: 'Osaka-Sans Serif';
  src: url('../../../../assets/fonts/osaka-re.ttf') format('truetype');
}

.container {
  margin-top: 125px !important;

  h2 {
    font-family: 'Osaka-Sans Serif', sans-serif;
  }
}

.event-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.event-card:hover .event-img {
  transform: scale(1.2);
}

.event-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 16px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.3s;
}

.event-card:hover .event-info {
  opacity: 1;
  transform: translateY(0);
}

.event-title {
  margin: 0;
  font-size: 1.5em;
}

.event-description {
  margin: 8px 0 0;
}
