<div class="container mb-5 row">
  <h2 class="text-center mb-5 fs-1">Metas superadas y próximos eventos</h2>
  <div class="gallery">
    <div *ngFor="let evento of eventos" class="gallery-item">
      <img
        [src]="evento.fotoEvento ? 'data:' + evento.fotoEvento.tipo + ';base64,' + evento.fotoEvento.datos : 'assets/media/default.webp'"
        class="gallery-img" alt="{{ evento.titulo }}">
      <div class="overlay">
        <div class="text text-center">
          <h3 class="mb-2 fs-3">{{ evento.titulo }}</h3>
          <p>{{ evento.descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
