.eventos-presentacion {
  div {
    .card {
      .card-body {
        .row {
          .eventoImagenContainer {
            img {
              max-width: 100%;
              height: 100%;
            }
          }

          .eventoContenidoContainer {
            .evento-item {
              .evento-info {
                p {
                  text-wrap: pretty;
                }
              }
            }
          }
        }
      }
    }
  }
}
