<div class="pagination-wrapper d-flex justify-content-center align-items-center">
  <nav aria-label="Navegación de páginas" class="mt-4 rounded">
    <ul class="pagination">
      <!-- Botón: Primera página -->
      <li class="page-item" [class.disabled]="paginaActual === 1">
        <a
          class="page-link"
          (click)="cambiarPagina(1)"
          aria-label="Primera página"
          tabindex="0"
        >
          <span aria-hidden="true">
            <i class="bi bi-chevron-double-left"></i>
          </span>
        </a>
      </li>

      <!-- Botón: Página anterior -->
      <li class="page-item" [class.disabled]="paginaActual === 1">
        <a
          class="page-link"
          (click)="cambiarPagina(paginaActual - 1)"
          aria-label="Página anterior"
          tabindex="0"
        >
          <span aria-hidden="true">
            <i class="bi bi-chevron-left"></i>
          </span>
        </a>
      </li>

      <!-- Números de página -->
      @if (totalPaginas <= 5) {
        @for (page of mostrarPaginas; track $index) {
          <li class="page-item" [class.active]="paginaActual === page">
            <a class="page-link" (click)="cambiarPagina(page)" tabindex="0">
              {{ page }}
            </a>
          </li>
        }
      }

      @if (totalPaginas > 5) {
        @for (page of mostrarPaginas; track $index) {
          <li class="page-item" [class.active]="paginaActual === page">
            <a class="page-link" (click)="cambiarPagina(page)" tabindex="0">
              {{ page }}
            </a>
          </li>
        }
        <!-- Tres puntos si hay muchas páginas -->
        @if (mostrarPaginas[mostrarPaginas.length - 1] < totalPaginas) {
          <li class="page-item">
            <a class="page-link disabled">...</a>
          </li>
        }
      }

      <!-- Botón: Página siguiente -->
      <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
        <a
          class="page-link"
          (click)="cambiarPagina(paginaActual + 1)"
          aria-label="Página siguiente"
          tabindex="0"
        >
          <span aria-hidden="true">
            <i class="bi bi-chevron-right"></i>
          </span>
        </a>
      </li>

      <!-- Botón: Última página -->
      <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
        <a
          class="page-link"
          (click)="cambiarPagina(totalPaginas)"
          aria-label="Última página"
          tabindex="0"
        >
          <span aria-hidden="true">
            <i class="bi bi-chevron-double-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
