.container {
  max-width: 800px;
  margin: auto;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #dee2e6;
  padding: 15px 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f8f9fa;
  }

  span {
    font-size: 1.1rem;
  }

  button {
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 0.875rem;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &.btn-danger {
      background-color: #dc3545;
      border-color: #dc3545;

      &:hover {
        background-color: #c82333;
        border-color: #bd2130;
      }
    }
  }
}
