<div class="container mt-5">
  <div class="card p-4 shadow-sm">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-center m-0">Seleccionar Alumnos</h2>
      <button class="btn btn-secondary btn-sm" (click)="volver()">Volver</button>
    </div>
    <div class="row my-3 d-flex justify-content-end">
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Filtrar por nombre" [(ngModel)]="nombreFiltro"
          (ngModelChange)="filtrarPorNombre()" />
      </div>
    </div>
    <ul class="list-group mt-4">
      <li *ngFor="let alumno of alumnos" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" (change)="toggleSeleccionAlumno(alumno.id)">
          <label class="form-check-label">{{ alumno.nombre }} {{ alumno.apellidos }}</label>
        </div>
      </li>
    </ul>
    <div class="text-center mt-3">
      <button class="btn btn-primary" (click)="agregarAlumnos()">Agregar Alumnos Seleccionados</button>
    </div>

    <app-paginacion [paginaActual]="paginaActual" [totalPaginas]="totalPaginas" [tamanoPagina]="tamanoPagina"
      (pageChange)="cambiarPagina($event)">
    </app-paginacion>
  </div>
</div>
