<div class="main-content row pt-5">
  <section class="p-0 mb-5 first-banner-section">
    <div class="first-banner d-flex justify-content-center align-items-center">
      <p class="text-white p-5 display-1 text-center">FUERZA, DISCIPLINA Y PODER</p>
    </div>
  </section>
  <section class="p-0 info-divs-section">
    <div class="mt-5 d-flex flex-column flex-md-row align-items-center">
      <div class="img-content d-flex justify-content-center justify-content-md-end mx-5 my-md-0 my-5">
        <img #animatedImage src="../../../../assets/media/porque_kickboxing.webp"
          alt="Entrenamiento de fuerza de kickboxing">
      </div>
      <div class="text-content d-flex flex-column justify-content-center mx-5 my-md-5 my-0">
        <h1 class="h3 text-md-end text-center fw-bold">¿POR QUÉ KICKBOXING?</h1>
        <hr class="hr my-4 mx-md-0 mx-4">
        <p class="mx-md-0 mx-4">Imagina sumergirte en una disciplina que te ofrece fuerza, velocidad y resistencia,
          mientras dominas técnicas efectivas de defensa personal. El kickboxing fusiona los puños del boxeo con las
          patadas de las artes marciales, creando un deporte dinámico, intenso y lleno de energía. ¡Es el entrenamiento
          perfecto para sentirte fuerte y en control!</p>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center flex-md-row-reverse">
      <div class="img-content d-flex justify-content-center justify-content-md-start mx-5 my-md-0 my-5">
        <img #animatedImage src="../../../../assets/media/enfrentamiento.webp"
          alt="Entrenamiento en nuestra escuela de kickboxing">
      </div>
      <div class="text-content d-flex flex-column justify-content-center mx-5 my-md-5 my-0">
        <h1 class="h3 text-md-start text-center fw-bold">NUESTRAS ENSEÑANZAS</h1>
        <hr class="hr my-4 mx-md-0 mx-4">
        <p class="mx-md-0 mx-4">Nosotros te ofrecemos una formación integral en kickboxing que va mucho más
          allá de las técnicas de combate. Fomentamos valores como la disciplina, el respeto y el espíritu deportivo.
          Nuestro objetivo es ayudarte a desarrollar tus habilidades físicas mientras creces personalmente,
          fortaleciendo tanto tu cuerpo como tu carácter. ¡Únete a nosotros y descubre todo tu potencial!</p>
      </div>
    </div>
    <div class="mb-5 d-flex flex-column flex-md-row align-items-center">
      <div class="img-content d-flex justify-content-center justify-content-md-end mx-5 mt-md-0 mt-5">
        <img #animatedImage src="../../../../assets/media/placeholder.webp"
          alt="Participantes de todas las edades en clase de kickboxing">
      </div>
      <div class="text-content d-flex flex-column justify-content-center mx-5 my-md-5 my-0">
        <h1 class="h3 text-md-end text-center fw-bold">¿Y SI LO HAGO MAL?...</h1>
        <hr class="hr my-4 mx-md-0 mx-4">
        <p class="mx-md-0 mx-4">No te preocupes si nunca has practicado antes. Nuestro programa de kickboxing está
          diseñado para adaptarse a todos los niveles, desde principiantes hasta avanzados. Te guiaremos paso a paso,
          asegurándonos de que aprendas de forma correcta y disfrutes cada parte del proceso. ¡Estás en el lugar
          perfecto para empezar y progresar a tu propio ritmo!</p>
      </div>
    </div>
  </section>
  <section class="p-0 my-5 second-banner-section">
    <div class="second-banner mx-0 mx-md-5 d-flex flex-column justify-content-center align-items-center text-center">
      <p class="text-white display-3 fst-italic">PRIMERA CLASE GRATUITA</p>
      <p class="text-white my-2 display-6">¿Estás listo para SUPERARTE CON NOSOTROS?</p>
      <button type="button" class="btn btn-danger fw-bold mt-5" (click)="irARuta('/contacto')">Más información</button>
    </div>
  </section>
</div>