<div class="main-content row pt-5">
    <section class="p-0 mb-5 first-banner-section">
        <div class="first-banner d-flex justify-content-center align-items-center">
            <p class="text-white p-5 display-1 text-center">EL ARTE DE FLUIR</p>
        </div>
    </section>
    <section class="p-0 info-divs-section">
        <div class="mt-5 d-flex flex-column flex-md-row align-items-center">
            <div class="text-content d-flex flex-column justify-content-center mx-5 my-md-5 my-0">
                <h1 class="h3 text-md-start text-center fw-bold">¿POR QUÉ PILATES?</h1>
                <hr class="hr my-4 mx-md-0 mx-4">
                <p class="mx-md-0 mx-4">Imagina una disciplina que te ofrece fuerza física, equilibrio mental y una
                    mejor postura, todo mientras trabajas flexibilidad y control. Con Pilates, fortalecerás tu cuerpo de
                    forma integral, mejorando tu bienestar y conciencia corporal. ¡Es la manera perfecta de
                    transformarte y sentirte en control! ¿Estás listo para empezar?</p>
            </div>
            <div class="img-content d-flex justify-content-center justify-content-md-end mx-5 my-md-0 my-5">
                <img #animatedImage src="../../../../assets/media/placeholder.webp"
                    alt="Se muestran dos competidores en una competición oficial">
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center flex-md-row-reverse">
            <div class="text-content d-flex flex-column justify-content-center mx-5 my-md-5 my-0">
                <h1 class="h3 text-md-end text-center fw-bold">NUESTRAS ENSEÑANZAS</h1>
                <hr class="hr my-4 mx-md-0 mx-4">
                <p class="mx-md-0 mx-4">En Moi's Kim Do, no solo aprenderás los principios fundamentales del Pilates,
                    sino que también adquirirás hábitos saludables y una conexión más profunda con tu cuerpo. Con una
                    práctica constante, verás mejoras en tu flexibilidad, fuerza y bienestar general. ¡Empieza a
                    transformar tu cuerpo y tu vida con nosotros!</p>
            </div>
            <div class="img-content d-flex justify-content-center justify-content-md-start mx-5 my-md-0 my-5">
                <img #animatedImage src="../../../../assets/media/placeholder.webp"
                    alt="Se muestran dos competidores en una competición oficial">
            </div>
        </div>
        <div class="mb-5 d-flex flex-column flex-md-row align-items-center">
            <div class="text-content d-flex flex-column justify-content-center mx-5 my-md-5 my-0">
                <h1 class="h3 text-md-start text-center fw-bold">¿ES PILATES PARA MÍ?</h1>
                <hr class="hr my-4 mx-md-0 mx-4">
                <p class="mx-md-0 mx-4">Ya seas principiante o un entusiasta del fitness, el Pilates es para todos.
                    Desde jóvenes hasta adultos mayores, cualquiera puede aprovechar sus beneficios. Se adapta a
                    cualquier nivel físico, permitiéndote empezar a tu propio ritmo y progresar de manera continua.
                    Además, es ideal para tonificar, mejorar la postura y reducir el estrés. Entonces, ¿qué esperas para
                    empezar?</p>
            </div>
            <div class="img-content d-flex justify-content-center justify-content-md-end mx-5 mt-md-0 mt-5">
                <img #animatedImage src="../../../../assets/media/placeholder.webp"
                    alt="Se muestran dos competidores en una competición oficial">
            </div>
        </div>
    </section>
    <section class="p-0 my-5 second-banner-section">
        <div
            class="second-banner mx-0 mx-md-5 d-flex flex-column justify-content-center align-items-center text-center">
            <p class="text-white display-3 fst-italic">PRIMERA CLASE GRATUITA</p>
            <p class="text-white my-2 display-6">¿Estás listo para AVANZAR CON NOSOTROS?</p>
            <button type="button" class="btn btn-danger fw-bold mt-5" routerLink="/contacto">Más
                información</button>
        </div>
    </section>
</div>