// Variables de colores y estilos
$primary-color: #007bff;
$primary-hover: #0056b3;
$primary-border-hover: #004085;
$danger-color: #dc3545;
$danger-hover: #c82333;
$danger-border-hover: #bd2130;
$btn-radius: 30px;

.btn-success {
  width: 100%;
  max-width: 200px;
}

.grupo-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;

    .card-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      text-align: center;
      margin-bottom: 20px;
    }

    .btn {
      font-size: 0.875rem;
      padding: 5px 15px;
      border-radius: $btn-radius;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &.btn-primary {
        background-color: $primary-color;
        border-color: $primary-color;

        &:hover {
          background-color: $primary-hover;
          border-color: $primary-border-hover;
        }
      }

      &.btn-danger {
        background-color: $danger-color;
        border-color: $danger-color;

        &:hover {
          background-color: $danger-hover;
          border-color: $danger-border-hover;
        }
      }
    }
  }
}

input[type='text'] {
  border-radius: $btn-radius;
  padding: 10px 20px;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}
