<div class="container-fluid py-5">
  <div class="row d-flex justify-content-center align-items-center mb-5">
      <h2 class="text-center fw-bold mb-4">Listado de Grupos</h2>
      <button class="btn btn-success" (click)="irARuta('/gruposCrear')">
        Crear Nuevo Grupo
      </button>
  </div>

  <div class="row">
    <div
      *ngFor="let grupo of grupos"
      class="col-md-6 col-lg-4 d-flex align-items-stretch justify-content-center"
    >
      <div class="card grupo-card my-3">
        <div class="card-body d-flex flex-column justify-content-between">
          <!-- Información del grupo -->
          <div>
            <p class="text-center card-title fw-bold">{{ grupo.nombre }}</p>
          </div>
          
          <!-- Botones de acciones del grupo -->
          <div class="d-flex justify-content-around mt-4">
            <button class="btn btn-primary btn-sm mx-1" [routerLink]="['/turnosGrupo', grupo.id]">Gestionar Turnos</button>
            <button class="btn btn-primary btn-sm mx-1" [routerLink]="['/gestionarAlumnos', grupo.id]">Gestionar Alumnos</button>
            <button class="btn btn-primary btn-sm mx-1" [routerLink]="['/gruposEditar', grupo.id]">Editar</button>
            <button class="btn btn-danger btn-sm mx-1" (click)="eliminarGrupo(grupo.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
