.btn-success {
  width: 100%;
  max-width: 200px;
}

.grupo-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sólo en la parte inferior */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;

    h4 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      text-align: center;
      margin-bottom: 20px;
    }

    .btn {
      font-size: 0.875rem;
      padding: 5px 10px;
      border-radius: 30px;
      transition: background-color 0.3s ease;

      &.btn-primary {
        background-color: #007bff;
        border-color: #007bff;

        &:hover {
          background-color: #0056b3;
          border-color: #004085;
        }
      }

      &.btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;

        &:hover {
          background-color: #c82333;
          border-color: #bd2130;
        }
      }
    }
  }
}

input[type='text'] {
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}
