<div class="container mt-5">
  <h2>Actualizar Turno</h2>
  <form [formGroup]="turnoForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="diaSemana" class="form-label">Día de la Semana</label>
      <select id="diaSemana" formControlName="diaSemana" class="form-select">
        <option *ngFor="let dia of diasSemana" [value]="dia">{{ dia }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="horaInicio" class="form-label">Hora de Inicio</label>
      <input type="time" id="horaInicio" formControlName="horaInicio" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="horaFin" class="form-label">Hora de Fin</label>
      <input type="time" id="horaFin" formControlName="horaFin" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </form>
</div>
