<div class="container mt-5">
  <div class="card p-4 shadow-sm">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-center m-0">Actualizar Turno</h2>
      <button class="btn btn-secondary btn-sm" (click)="volver()">Volver</button>
    </div>
    <form [formGroup]="turnoForm" (ngSubmit)="onSubmit()" method="post">
      <div class="form-group form-floating mb-3">
        <select id="diaSemana" formControlName="diaSemana" class="form-select form-control">
          <option *ngFor="let dia of diasSemana" [value]="dia">{{ dia }}</option>
        </select>
        <label for="diaSemana" class="form-label">Día de la Semana</label>
        <div *ngIf="turnoForm.get('diaSemana')?.invalid && (turnoForm.get('diaSemana')?.dirty || turnoForm.get('diaSemana')?.touched)">
          <small class="text-danger" *ngIf="turnoForm.get('diaSemana')?.errors?.['required']">El día de la semana no puede estar en blanco</small>
        </div>
      </div>
      <div class="form-group form-floating mb-3">
        <input type="time" id="horaInicio" formControlName="horaInicio" class="form-control" />
        <label for="horaInicio" class="form-label">Hora de Inicio</label>
        <div *ngIf="turnoForm.get('horaInicio')?.invalid && (turnoForm.get('horaInicio')?.dirty || turnoForm.get('horaInicio')?.touched)">
          <small class="text-danger" *ngIf="turnoForm.get('horaInicio')?.errors?.['required']">La hora de inicio no puede estar en blanco</small>
          <small class="text-danger" *ngIf="turnoForm.get('horaInicio')?.errors?.['pattern']">La hora de inicio debe estar en formato HH:mm</small>
        </div>
      </div>
      <div class="form-group form-floating">
        <input type="time" id="horaFin" formControlName="horaFin" class="form-control" />
        <label for="horaFin" class="form-label">Hora de Fin</label>
        <div *ngIf="turnoForm.get('horaFin')?.invalid && (turnoForm.get('horaFin')?.dirty || turnoForm.get('horaFin')?.touched)">
          <small class="text-danger" *ngIf="turnoForm.get('horaFin')?.errors?.['required']">La hora de fin no puede estar en blanco</small>
          <small class="text-danger" *ngIf="turnoForm.get('horaFin')?.errors?.['pattern']">La hora de fin debe estar en formato HH:mm</small>
        </div>
      </div>
      <div *ngIf="turnoForm.errors?.['horasInvalidas']" class="text-danger pb-3">
        La hora de inicio no puede ser mayor o igual a la hora de fin.
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="turnoForm.invalid">Actualizar</button>
      </div>
    </form>
  </div>
</div>
