<!-- productos-alumno.component.html -->
<div class="text-end my-4">
  <button class="btn btn-secondary" (click)="volver()">Volver</button>
</div>
<div class="card shadow-sm mb-4">
  <div class="card-body">
    <h5 class="card-title mb-3">Productos asignados al alumno:</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Concepto</th>
          <th>Fecha Asignación</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
          <th>Pagado</th>
          <th>Fecha de Pago</th>
          <th>Notas</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productoAlumno of productosAlumno">
          <td>{{ productoAlumno.concepto }}</td>
          <td>{{ productoAlumno.fechaAsignacion | date: 'dd/MM/yyyy' }}</td>
          <td>
            <input type="number" [(ngModel)]="productoAlumno.cantidad"
              (change)="actualizarProducto(alumnoId, productoAlumno)" class="form-control form-control-sm" min="1" />
          </td>
          <td>
            {{ productoAlumno.precio | currency: 'EUR': 'symbol': '1.2-2' }}
          </td>
          <td>
            <span
              [ngClass]="{
                'total-no-pagado': !productoAlumno.pagado,
                'total-animacion': !productoAlumno.pagado
              }"
            >
              {{
                calcularTotal(productoAlumno.precio, productoAlumno.cantidad)
                  | currency: 'EUR': 'symbol': '1.2-2'
              }}
            </span>
          </td>
          <td>
            <input type="checkbox" [(ngModel)]="productoAlumno.pagado"
              (change)="actualizarProducto(alumnoId, productoAlumno)" />
          </td>
          <td>{{ productoAlumno.fechaPago | date: 'dd/MM/yyyy' }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-sm btn-link" (click)="abrirModalNotas(productoAlumno)">
              <i class="bi bi-pencil-square"></i>
            </button>

          </td>
          <td>
            <button type="button" class="btn btn-sm btn-danger" (click)="eliminarProducto(alumnoId, productoAlumno.id)">
              Eliminar
            </button>
          </td>
        </tr>
        <tr *ngIf="!productosAlumno || productosAlumno.length === 0">
          <td colspan="9" class="text-center">No hay productos asignados</td>
        </tr>
      </tbody>
    </table>

    <!-- Sección para asignar un nuevo producto -->
    <div class="mt-3 d-flex align-items-center">
      <select class="form-control me-2" [(ngModel)]="selectedProductoId" required>
        <option [ngValue]="null">Seleccione un producto</option>
        <option *ngFor="let producto of products" [ngValue]="producto.id">
          {{ producto.concepto }} - {{
          producto.precio | currency: 'EUR': 'symbol': '1.2-2'
          }}
        </option>
      </select>
      <button type="button" class="btn btn-sm btn-primary" (click)="asignarProducto(alumnoId)">
        Asignar Producto
      </button>
    </div>
  </div>
</div>

<app-productos-alumno-notas *ngIf="mostrarModalNotas" [productoAlumno]="productoSeleccionado"
  (cerrar)="cerrarModalNotas()" (guardar)="guardarNotas($event)"></app-productos-alumno-notas>